@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full viewport height */
    }

    .logout-container {
        min-width: 30vw;
        max-width: 60vw; /* Adjust as needed */
        padding: 20px;
        background-color: #ffffff; /* Optional: white background */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
        border-radius: 8px; /* Optional: rounded corners */
    }

    .form-floating input {
        width: 100%; /* Ensure inputs take the full width of their container */
    }
</style>

<div class="center-screen">
    <div class="logout-container">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="Max" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Mustermann" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </div>
            <div class="text-center mt-3">
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account?</a>
                </p>
            </div>
        </form>
     </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
